body {
    margin: 0;
    background-color: #1F2937;
    font-family: "Inter", sans-serif;
}

.title {
    color: white;
    font-weight: bold;
    font-family: "Karla", sans-serif;
    font-size: 40px;
    width:70%;
}

.subtitle {
    color: #D5D4D8;
    font-weight: 200;
    font-size: 20px;
}

.highlight {
    color: #4ADF86;
}

.input-wrapper {
    border-bottom: 1px solid #2F3E53;
    width: 100%;
}

.generateBtn {
    background-color: #10B981;
    border: none;
    border-radius: 6px;
    padding: 12px;
    color: white;
    max-width: 200px;
    margin-bottom: 24px;
    margin-top: 24px;
    font-size: 16px;
}

.container {
    width: 35%;
    margin: 50px auto;

}

.output-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.password-container {
    width: 200px;
    height: 24px;
    background-color: #273549;
    border-radius: 6px;
    margin: 24px 0;
    color: #55F991;
    text-align: center;
    padding: 8px;
}

@media only screen and (max-width: 800px) {
    .output-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .password-container { 
        margin: 12px;
    }
  }